{% extends "base.html" %}

{% load markup %}

{% block title %}{{ game.title }}{% endblock %}

{% block content %}
<div class="game">
    <img src="{{ game.image.url }}">
    <h1>{{ game.title }}</h1>
    {{ game.brief|markdown }}
    <div class="download_set">
{% for download in download_list %}
        <a href="{{ download.url }}">
            <button type="button" class="{% if download.is_link %}link{% else %}download{% endif %}">
                {{ download.label }}
            </button>
        </a>
{% endfor %}
    </div>
    {{ game.details|markdown }}
</div>
{% endblock %}
